APP_ENV="development"
DB_HOST="localhost"
DB_NAME="nume_baza_de_date_aici"
DB_USER="user_aici"
DB_PASS="parola_aici"
JUSTALERT_HMAC_SECRET="genereaza_un_string_aleator_aici"
SMTP_HOST="mail.exemplu.ro"
SMTP_USER="no-reply@exemplu.ro"
SMTP_PASS="parola_smtp_aici"
SMTP_PORT="465"